@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

body{
    margin: 0;
    font-family:'DM Sans', sans-serif;
}

.banner{
    background:#27C0EF;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    width: 100%; 
}

.br-options{
    list-style: none;
    display: flex;
    justify-content: center;
    white-space: pre;
}

.btn-menu{
    background: linear-gradient(#328BCB, #005490);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 4px;
}

.btn-banner{
    background: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    color: #27C0EF;
}

.btn-2-banner{
    color: white;
    text-decoration: auto;
    margin-left: 30px;
    font-size: 16px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description{
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.description-btn{
    text-decoration: auto;
    color: white;
}

.item-menu{
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: auto;
}

.main-title{
    margin: auto;
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.menu{
    background:#27C0EF; 
}

.text-description-columns{
    margin-left: 140px;   
    
}

.text-description{
    padding-top: 100px;
}
.imag-banner{
margin-top: 60px;
}

.partners{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}

.btn{
    color: #04AADD;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: auto;

}
.title-h3{
    color: #034D82;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 144.444% */
    letter-spacing: 0.3px;
    margin-right: 200px;
}

.description{
    color: #90A3B4;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 0.3px; 
    margin-right: 150px;
}

.colum{
    display: flex;
    justify-content: center;
    padding: 100px;    
}

.colum-imag-feature1{
    width: 50%;
    background-image: url(./imag/fondofeature.png);
    background-repeat: no-repeat;
    background-size: 400px;
    margin-left: 100px;
}

.colum-description{
    width: 50%;
    margin-left: 100px;
}

.item{
    color: #90A3B4;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px; 
    list-style: none;
    
}

.title{
    color: #034D82;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 144.444% */
    letter-spacing: 0.3px;
    margin-right: 300px ;
    margin-top: 0;
}

.check-circle{
    margin-right: 10px;
}

.phone{
    width: 400px;
}

.macbook-imag{
    width: 500px;
}